* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "montserrat", sans-serif;
}

h1 {
  font-family: "montserrat", sans-serif;
}

p {
  font-family: "montserrat", sans-serif;
}
