---
import { Image } from "astro:assets";
import Button from "./Button.astro";

const { placeholder, overskrift,tekst, buttonText } = Astro.props;
---

<section class="feature">
  <Image src={placeholder} alt="Beskrivende tekst" class="placeholder" />
  <div class="content">
    <h3>{overskrift}</h3>
    <p>
    {tekst}</p>
    <Button buttonText={buttonText} />
  </div>
</section>

<style>
  .placeholder {
  width: clamp(400px, 30vw, 600px);
  height: auto;
  aspect-ratio: 2/3;
    object-fit: cover;
    justify-self: end; 
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 4rem;
  }

  .feature {
    display: grid;
    gap: 5rem;
    margin: 4rem;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin-left: auto;
    
    
  }

  /* swap columns on desktop */
  @media (min-width: 768px) {
    .feature {
      grid-template-columns: 1fr 1fr;
      
    }

    .placeholder {
      grid-column: 2;
      grid-row: 1;
      
      
    }

    .content {
      grid-column: 1;
      grid-row: 1;
    }
  }
</style>
