---
const { buttonText } = Astro.props;
---

<a href="#">{buttonText}</a>

<style>
  a {
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    padding: 10px 15px;
    text-decoration: none;
    max-width: 300px;
  }
</style>