---
const { buttonText,buttonLink } = Astro.props;
---

<a href={buttonLink}>{buttonText}</a>

<style>
  a {
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    width: 189px;
    height: 42px;
      font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  
  }
</style>