---
import Button from "./Button.astro"

const { herovideo, overskrift } = Astro.props;
---
<section class="hero">
 
  <video class="hero-video" autoplay muted loop playsinline>
    <source src={herovideo} type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  
  <div class="content">
    <h2>{overskrift}</h2>
    <Button buttonText="Lorem ipsum" />
  </div>
</section>

<style>
.hero {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
padding-bottom: 2rem;}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; 
}

.content {
  position: relative; 
  z-index: 1;
  color: white; 
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 5rem;
}
</style>